@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;600;700&family=Noto+Sans+TC:wght@400;500;600;700&family=Noto+Serif+SC:wght@400;500;600;700&family=Noto+Serif+TC:wght@400;500;600;700&display=swap');

:root {
  html, body { 
    font-family: "Noto Sans TC", "Noto Sans SC", sans-serif !important }
}

h1, h2, h3, h4, h5, h6,
.vp-doc h1, .vp-doc h2, .vp-doc h3, .vp-doc h4, .vp-doc h5, .vp-doc h6,
.title, .name {
  font-family: "Noto Serif TC", "Noto Serif SC", serif !important;
}